{% extends 'base.twig' %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="d-flex justify-content-center">
        <form action="/login" method="POST">
            <div class="d-flex p-1">
            <p> Uw niewe wachtwoord is. {{ password }} <p>
            </div>
            <div class="d-flex p-1">
                <button><a href="/">Terug naar Login</a></button>
            </div>
        </form>
    </div>v>

{% endblock %}